Repository betagouv/service-national-universel, pull requests merged in 2024-04, with the labels that each got.

#3667 feat(api/admin): 1877 - Restore previous signin when ADMIN #3588
  CHANGELOG.md
  admin/src/app.jsx
  admin/src/components/RestorePreviousSignin/Icon.jsx
  admin/src/components/RestorePreviousSignin/index.jsx
  admin/src/components/drawer/SideBar.jsx
  admin/src/components/drawer/components/Profil.jsx
  admin/src/components/selectStatus.jsx
  admin/src/redux/auth/actions.js
  admin/src/redux/auth/reducer.js
  admin/src/scenes/inscription/index.jsx
  admin/src/scenes/inscription/panel.jsx
  admin/src/scenes/phase0/components/YoungHeader.jsx
  admin/src/scenes/team/panel.jsx
  admin/src/scenes/utilisateur/composants/UserHeader.jsx
  admin/src/scenes/utilisateur/list.jsx
  admin/src/scenes/utilisateur/panel.jsx
  admin/src/scenes/volontaires/list.jsx
  admin/src/scenes/volontaires/panel.jsx
  admin/src/utils/signinAs.js
  api/src/controllers/referent.js
Labels: Pull request title validation

#3735 chore(lib): Revert update dependency @swc/plugin-styled-components to v1.5.122
  admin/package.json
  app/package.json
  package-lock.json
Labels: Pull request title validation

#3760 fix(admin): 2271 - Wrong redirect url on signin
  admin/src/components/layout/NotFound.jsx
  admin/src/scenes/auth/signin.jsx
  package-lock.json
Labels: ADMIN

#3757 fix(admin/api): 2200 - revoir les regles de validation manuelle de la phase 2
  admin/src/components/selectStatus.jsx
  api/src/controllers/referent.js
  api/src/utils/index.js
Labels: Pull request title validation, ADMIN

#3734 fix(admin): 664 - reduire la taille des requetes volontaires
  admin/src/components/buttons/MailAttestationButton.jsx
  admin/src/components/filters-system-v2/components/filters/utils.js
  admin/src/scenes/phase0/utils/index.js
  admin/src/scenes/phase0/view.jsx
  admin/src/scenes/volontaires/components/phase1/Phase1Header.jsx
  admin/src/scenes/volontaires/utils/index.js
Labels: ADMIN

#3713 fix(api): 2199 Admin - Téléchargement d’une attestation 2022
  api/src/templates/certificate/index.js
  api/src/utils/errors.js
Labels: ADMIN

#3762 fix(app, api): 2212 - update change-cohort email template
  api/src/controllers/young/index.js
Labels: RUN

#3737 feat(admin): 1982-ajouter un champ CNI invalide lors de la validation du jeune
  admin/src/scenes/phase0/components/CniField.jsx
  admin/src/scenes/phase0/components/CniModal.jsx
  admin/src/scenes/phase0/components/ConfirmModalContent.jsx
  admin/src/scenes/phase0/view.jsx
  package-lock.json
  package.json
Labels: ADMIN

#3781 fix(api): dsnj export
  api/src/crons/__tester__.js
  api/src/crons/dsnjExport/index.js
Labels: Pull request title validation

#3778 feat(app): Add maintenance notice
  app/src/app.jsx
  app/src/components/dsfr/layout/DSFRLayout.jsx
  app/src/components/ui/alerts/Notice.jsx
  app/src/utils/index.js
  packages/ds/src/dsfr/index.ts
Labels: Pull request title validation

#3782 chore(ap): temporarily disable maintenance notice
  app/src/utils/index.js
Labels: Pull request title validation

#3750 refactor(app): remove useEffect from DSFR date picker
  app/src/components/dsfr/forms/DatePicker.jsx
  app/src/scenes/inscription2023/components/StepUploadDesktop.jsx
  app/src/scenes/inscription2023/components/StepUploadMobile.jsx
  app/src/scenes/inscription2023/steps/correction/stepEligibilite.jsx
  app/src/scenes/inscription2023/steps/correction/stepProfil.jsx
  app/src/scenes/preinscription/steps/stepEligibilite.jsx
  app/src/scenes/preinscription/steps/stepProfil.jsx
Labels: bypass title

#3791 refactor(admin): 2253 - SelectCohort Component + update PDT
  admin/src/components/cohorts/SelectCohort.jsx
  admin/src/scenes/plan-transport/ligne-bus/List.jsx
  admin/src/services/cohort.service.jsx
  packages/lib/sessions.js
Labels: ADMIN

#3775 feat(admin): 2261 - Centres - Mise à jour selecteur de cohort
  admin/package.json
  admin/src/app.jsx
  admin/src/scenes/centersV2/components/sessions/OccupationCard.jsx
  admin/src/scenes/centersV2/components/sessions/SessionList.jsx
  admin/src/scenes/centersV2/view/index.jsx
  admin/src/services/react-query.js
  app/package.json
  package-lock.json
Labels: ADMIN

#3772 feat(admin): 2090 - Bloquer validation consentement par autrui
  admin/src/scenes/centersV2/components/modals/ModalPedagoProject.jsx
  admin/src/scenes/centersV2/components/modals/ModalTimeSchedule.jsx
  admin/src/scenes/classe/view.jsx
  admin/src/scenes/etablissement/view.jsx
  admin/src/scenes/phase0/components/CniModal.jsx
  admin/src/scenes/phase0/components/CorrectionRequest.jsx
  admin/src/scenes/phase0/components/FieldsGroup.jsx
  admin/src/scenes/phase0/components/FileField.jsx
  admin/src/scenes/phase0/components/Section.jsx
  admin/src/scenes/phase0/components/commons.jsx
  admin/src/scenes/phase0/components/commons/AddButton.jsx
  admin/src/scenes/phase0/components/commons/DeleteButton.jsx
  admin/src/scenes/phase0/components/commons/DownloadButton.jsx
  admin/src/scenes/phase0/components/commons/MiniTitle.jsx
  admin/src/scenes/phase0/components/commons/MoreButton.jsx
  admin/src/scenes/phase0/components/sections/SectionParents.jsx
  admin/src/scenes/phase0/components/sections/consentements/SectionConsentements.jsx
  admin/src/scenes/phase0/components/sections/consentements/SectionOldConsentements.jsx
  admin/src/scenes/phase0/components/sections/consentements/partials/CheckRead.jsx
  admin/src/scenes/phase0/components/sections/consentements/partials/ForceConsentement.jsx
  admin/src/scenes/phase0/components/sections/identite/SectionIdentite.jsx
  admin/src/scenes/phase0/components/sections/identite/SectionIdentiteCni.jsx
  admin/src/scenes/phase0/components/sections/identite/SectionIdentiteContact.jsx
  admin/src/scenes/phase0/utils/index.js
  admin/src/scenes/phase0/view.jsx
  packages/ds/src/admin/ui/Button.tsx
Labels: ADMIN

#3808 fix(api): 1234 - change cohort for CLE
  api/src/controllers/referent.js
Labels: Pull request title validation

#3811 fix(api): Tracking JVA
  api/src/services/gouv.fr/api-engagement.js
Labels: bypass title

#3790 feat(admin): 2253 - table de répartition cohort switcher
  admin/src/scenes/plan-transport/table-repartition/NationalView.jsx
  admin/src/scenes/plan-transport/table-repartition/RegionalView.jsx
  admin/src/scenes/plan-transport/table-repartition/components/RegionRow.jsx
  admin/src/scenes/plan-transport/table-repartition/components/SelectHostRegion.jsx
  admin/src/scenes/plan-transport/table-repartition/index.jsx
Labels: ADMIN

#3799 feat(admin): 2253 - Paramétrage dynamique - Mise à jour sélecteur de cohort
  admin/package.json
  admin/src/components/cohorts/SelectCohort.tsx
  admin/src/components/filters-system-v2/components/Filters.jsx
  admin/src/redux/auth/reducer.ts
  admin/src/scenes/centersV2/components/ModalRattacherCentre.tsx
  admin/src/scenes/centersV2/view/CenterInformations.tsx
  admin/src/scenes/edit-transport/list/index.tsx
  admin/src/scenes/settings/index.jsx
  admin/src/types.ts
  packages/ds/src/admin/form/Select/Select.tsx
  packages/ds/src/admin/form/Select/theme.ts
Labels: ADMIN

#3800 feat(admin): 2253 - Objectifs - Mise à jour sélecteur de cohort
  admin/globals.d.ts
  admin/src/components/buttons/LoadingButton.jsx
  admin/src/scenes/goal/ToggleBloc.tsx
  admin/src/scenes/goal/index.tsx
  admin/tsconfig.json
  app/globals.d.ts
  app/tsconfig.json
Labels: ADMIN

#3792 feat(admin): 2253 - Schema de repartition - Mise à jour sélecteur de cohort
  admin/src/components/cohorts/SelectCohort.tsx
  admin/src/scenes/plan-transport/schema-repartition/SchemaRepartition.jsx
Labels: ADMIN

#3774 feat(admin): 2178 - Refonte design dashboard et ajout d'un bandeau informatif
  admin/src/components/drawer/SideBar.jsx
  admin/src/index.css
  admin/src/scenes/dashboardV2/components/BandeauInfo.jsx
  admin/src/scenes/dashboardV2/components/DashboardContainer.jsx
  admin/src/scenes/dashboardV2/components/General.jsx
  admin/src/scenes/dashboardV2/components/ui/InfoMessage.jsx
  admin/src/scenes/dashboardV2/head-center/subscenes/sejour/index.jsx
  admin/src/scenes/dashboardV2/moderator-ref/subscenes/engagement/components/ExportEngagementReport.jsx
  admin/src/scenes/dashboardV2/moderator-ref/subscenes/engagement/index.jsx
  admin/src/scenes/dashboardV2/moderator-ref/subscenes/inscription/ExportReport.jsx
  admin/src/scenes/dashboardV2/moderator-ref/subscenes/inscription/index.jsx
  admin/src/scenes/dashboardV2/moderator-ref/subscenes/sejour/index.jsx
  admin/src/scenes/dashboardV2/responsible/subscenes/engagement/index.jsx
  admin/src/scenes/dashboardV2/visitor/subscenes/inscription/index.jsx
  packages/ds/src/admin/layout/Header.tsx
  packages/ds/src/admin/ui/DropdownButton.tsx
Labels: ADMIN

#3763 feat(admin, api): 2158 - download classroom convocation ci
  admin/src/hooks/usePendingAction.js
  admin/src/scenes/centersV2/youngs/index.jsx
  admin/src/scenes/classe/view.jsx
  admin/src/scenes/volontaires/create.jsx
  admin/src/services/convocation.service.js
  api/build.tsconfig.json
  api/jest.config.js
  api/package.json
  api/src/classe/classe.controller.ts
  api/src/classe/classe.service.test.ts
  api/src/classe/classe.service.ts
  api/src/controllers/request.ts
  api/src/geo.ts
  api/src/index.js
  api/src/templates/convocation/cohesion.js
  api/src/utils/pdf-renderer.js
  api/src/young/young.service.test.ts
  api/src/young/young.service.ts
  api/src/young/young.type.ts
  api/src/young/youngDocument.ts
  api/tsconfig.json
  package-lock.json
  packages/lib/errors.js
  packages/lib/functionalErrors.js
  packages/lib/index.js
Labels: ADMIN

#3817 Fix(admin): Disabled young validation after instruction date
  admin/src/scenes/volontaires/view/index.jsx
Labels: Pull request title validation

#3819 fix(api,app): Retours QA sur évolutions désistement et parcours CLE
  api/src/controllers/young/index.js
  app/src/scenes/phase1/scenes/affected/index.jsx
  packages/lib/index.js
Labels: bypass title
